.slider {
	height: 14px;
	position: relative;

	display: flex;
}

.slider input {
	position: absolute;

	width: 100%;

	cursor: pointer;

	opacity: 0;
}

.slider__range {
	width: 100%;
	display: flex;
	justify-content: flex-end;

	border-radius: 10px;
	overflow: hidden;

	background-image: linear-gradient(to right, #1abc9c 0%, #f1c40f 50%, #e74c3c 100%);
}

.slider__range-inverse {
	pointer-events: none;

	background: #ccc;
}

.slider__handle-wrapper {
	margin: 0 14px;
	position: absolute;
	right: 0;
	left: 0;

	pointer-events: none;
}

.slider__handle {
	margin-left: -.75rem;
	position: absolute;
	top: -4px;

	width: 1.5rem;
	height: 1.5rem;

	pointer-events: none;

	border: 3px solid white;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}
