.slider {
	height: 1em;
	position: relative;

	display: flex;
	background-image: linear-gradient(to right, #892AFF 0%, #23B2EE 100%);
	padding: 0 .5em;
}

.slider input {
	position: absolute;
	cursor: pointer;

	width: 100%;
	height: 100%;
	margin: 0;

	opacity: 0;
	left: 0;
}

.slider__range-track {
	width: 100%;
	display: flex;
	flex-flow: row-reverse;
	position: relative;
}

.slider__range-inverse {
	flex: 1;
	position: relative;
	right: -.5em;

	background: #ccc;
}

.slider__handle {
	width: 0;
	height: 1.4rem;
	align-self: center;
	position: relative;
}

.slider__handle::after {
	content: '';
	display: block;
	transform: translateX(-.7rem);

	width: 1.4rem;
	height: 1.4rem;

	border-radius: 50%;
	box-sizing: border-box;
	border: 4px solid white;
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
	cursor: pointer;
}

.slider__range-labels {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.slider__range-labels label {
	position: relative;
	height: 100%;
	padding: 1px;
	border: none;
	background: white;
	cursor: pointer;
	outline: none;
}

.slider__range-labels label.active {
	background: inherit;
}

.slider__range-labels label.active::after {
	content: attr(data);
	position: absolute;
	bottom: -1rem;
	right: 0;
}

.slider__range-labels label:first-of-type.active::after {
	right: inherit;
}
